@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
}
*, *::before, ::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  min-height: 780px;
  background-image: url(../img/Bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
html{scroll-behavior: smooth;}

h1, h2, h3, h4, h5, h6, p, li, ul, button {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
/* header */
.header__title {
  min-height: 47px;
  background-color: #B36050;
  color: #F1D3B9;
  font-size: 17px;
  text-align: center;
  align-content: center;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  min-height: 71px;
}
menu ul {
  display: flex;
  padding-top: 10px;
}
menu a {
  color: #B4604D;
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
}
menu li {
  list-style-type: none;
  margin-right: 32px;
}
.header__menu_logo,
.basket {
  align-self: self-start;
}
.header_menu_burger {
  display: none;
}
.sidenav li a {
  color: #B4604D;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.header__menu_logo {
  padding-right: 300px;
}
.header__menu_basket {
  display: flex;
  text-align: center;
  align-content: center;
}
.header__menu_basket p {
  text-align: center;
  align-content: center;
  padding-right: 10px;
}
.header__menu_basket img {
  align-items: center;
  margin: 0 auto;
  padding-right: 2px;
}

.header_button {
  min-height: 435px;
  background-image: url(../img/Frame.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_button button {
  background-color: #B45F4D;
  color: #FFFFFF;
  height: 48px;
  width: 128px;
  border-radius: 2px;
  border: none;
  font-size: 17px;
  margin-top: 260px;
}
/* Shop */
.shop {
  background-color: #A9AE8D;
  color: #F6F4EC;
  min-height: 304px;
  padding-left: 70px;
}
.shop h5 {
  font-size: 18px;
  padding-top: 70px;
  text-transform: uppercase;
}
.shop h2 {
  font-size: 33px;
  
  padding-top: 30px;
}
.shop a {
  font-size: 16px;
  text-decoration: none;
  color: #F6F4EC;
}.shop h6 {
  padding-top: 45px;
}
/* bottle */
.bottle {
  background-color: #F6F4EC;
}
.bottle__text {
  color: #B45F4D;
  font-size: 23px;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}
.bottle__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  justify-items: center;
}
.bottle__grid_item {
  text-align: center;
}
.bottle__grid_item h3 {
  color: #B45F4D;
  font-size: 18px;
  text-align: left;
  padding-top: 8px;
}
.bottle__grid_item h4 {
  color: #B45F4D;
  font-size: 16px;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 86px;
}
/* sets */
.sets {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 24px;
}
.sets__img {
  text-align: center;
  height: 322px;
  width: 1220px;
  overflow:hidden;
}
.sets__text {
  display: flex;
  justify-content: space-around;
  background-color: #DF9B7A;
  min-height: 92px;
  color: #F6F4EC;
  margin-top: -4px;
  align-items: center;
  margin-bottom: 50px;
}
.sets__text h2 {
  text-transform: uppercase;
  font-size: 20px;
}
.sets__text h3 {
  font-size: 18px;
}
/* meet */
.meet {
  background-color: #F1D3B9;
  height: 1069px;
}
.meet img {
  position: absolute;
  width: 632px;
  height: 947px;
  margin-left: 170px;
  margin-top: 61px;
}
.meet__text {
  display: inline-block;
  position: relative;
  width: 518px;
  height: 582px;
  background-color: #F8F8F8;
  color: #B45F4D;
  margin-left: 750px;
  margin-top: 300px;
  padding: 50px;
}
.meet__text h3 {
  font-size: 30px;
  text-align: center;
}
.meet__text h6 {
  margin-top: 30px;
  font-size: 19px;
  line-height: 30.4px;
}
.meet__text p {
  font-size: 16px;
  margin-top: 35px;
}
/* follow */
.follow__text {
  color: #000000;
  font-size: 23px;
  margin: 25px auto 45px auto;
  text-align: center;
}
.carousel-item img {
  padding-right: 10px;
}
/* footer */
.footer {
  background-color: #F6F4EC;
  color: #C17C6C;
  min-height: 401px;
  margin-top: -200px;
  padding-top: 65px;
}
.footer h6 {
  font-size: 14px;
  line-height: 1.96;
}
.footer_inner {
  color: #B45F4D;
  width: 350px;
}
.footer_block {
  display: flex;
  justify-content: space-evenly;
}
.footer_inner {
  display: flex;
  justify-content: space-between;
  margin-left: -140px;
}
.footer_text {
  margin-top: 180px;
  margin-left: 20px;
}
.footer_3 {
  max-width: 450px;
  margin-left: 280px;
}

@media screen and (max-device-width:1020px) {
  .bottle__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .sets img {
    width: 100%;
    height: auto;
  }
  .meet img {
    margin-left: 70px;
  }
  .meet__text {
    margin-left: 580px;
  }

}
@media screen and (max-device-width:960px) {
  .sets__img {
    width: 100%;
    height: auto;
  }
  .footer_inner {
    margin-left: -80px;
  }
  .footer_text {
    margin-left: 40px;
  }
  .footer_3 {
    margin-left: 280px;
  }

}
@media screen and (max-device-width:860px) {
  menu {
    display: none;
  }
  .header_menu_burger {
    display: block;
    align-self: center;
  }
  .header_menu_burger img {
    width: 40px;
    height: auto;
    cursor: pointer;
  }
  .header_menu_burger img:hover {
    opacity: 0.7;
  }
  .header__menu_logo {
    padding-right: 0;
    padding-left: 60px;
  }
  .meet img {
    margin-left: 15px;
  }
  .meet__text {
    margin-left: 485px;
    width: 460px;
  }
  .footer_inner {
  margin-left: -10px;
  }
  .footer_text {
  margin-left: 20px;
  }

}


@media screen and (max-device-width:768px) {
  .bottle__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .meet {
    height: 865px;
  }
  .meet img {
    width: 500px;
    height: auto;
  }
  .meet__text {
    margin-left: 360px;
    margin-top: 130px;
    width: auto;
    min-height: 100px;
  }
  .meet__text h6 {
    font-size: 17px;
    line-height: 15.4px;
  }
  .footer_inner {
    margin-left: 20px;
  }
  .footer_text {
    margin-top: 110px;
  }
  .footer_2 {
    margin-left: 20px;
    width: 100px;
  }
  .footer_3 {
    margin-left: 130px;
  }
}
@media screen and (max-device-width:676px) {
  .meet {
    height: 710px;
  }
  .meet img {
    width: 400px;
    height: auto;
  }
  .meet__text {
    margin-left: 385px;
    margin-top: 100px;
    height: auto;
    padding: 20px;
  }
  .meet__text h3 {
    font-size: 28px;
  }
  .meet__text h6 {
    font-size: 14px;
    line-height: 13px;
  }
  .meet__text p {
    font-size: 14px;
    margin-top: 25px;
  }




}
@media screen and (max-device-width:576px) {
  .bottle__grid_item img {
    width: 100%;
    height: auto;
  }
  .sets__text {
    flex-direction: column;
  }
  .meet {
    height: auto;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .meet img {
    position: static;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .meet__text {
    display: block;
    position: static;
    width: auto;
    height: auto;
    margin: 15px;
    padding: 30px;
  }
  .footer {
    padding-top: 50px;
  }
  .footer_block {
    flex-direction: column;
  }
  .footer_3 {
    margin-left: 20px;
    margin-top: 40px;
  }
  .footer_inner {
    max-width: 250px;
  }

}
  







@media screen and (max-device-width:400px) {
  .header__menu {
    flex-direction: column;
  }
  .header__menu img {
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
  }
  .header__menu_basket {
    justify-content: center;
    padding: 15px 0;
  }

}



